body {
  margin: 0px;
  background-color: #C9FAFC;
  font-family: sans-serif;
  color: #8A2BE2;
}

#header {
  background-color: #40E0D0;
  color: #8A2BE2;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#cuties .current .profile-left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 2.5%;
  width: 40%;
  padding: 10px;
  border: 1px solid #8A2BE2;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#cuties .current .profile-left img {
  height: 400px;
}

#cuties .current .profile-right {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 5%;
  padding: 10px;
  display: inline-block;
}

#cuties .current .profile-right .info {
  height: 300px;
}

#cuties .current .profile-right .info .name {
  font-size: 24px;
  margin-bottom: 10px;
}

#cuties .current .profile-right .hi-or-bi button {
  height: 100px;
  width: 150px;
  font-size: 48px;
  background-color: #40E0D0;
  color: #8A2BE2;
  border-radius: 15px;
  margin: 0px 10px;
}

#cuties .current .profile-right .hi-or-bi .reject-button {
  background-color: #FC312A;
  color: #fff;
}
