.chat-screen {
  width: 99%;

  .send-button {
  }

  .messages {
    height: 80vh;
    overflow-y: scroll;
    border: 1px #8A2BE2 solid;
    background-color: #fff;
    max-height: calc(80vh - 10%);
  }
}

.chat-message {
  width: 100%;
  margin: 5px;

  .content {
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
  }

  .incoming {
    text-align: left;

    .content {
      background-color: #40E0D0;
    }
  }

  .outgoing {
    text-align: right;

    .content {
      background-color: #C9FAFC;
    }
  }
}
