body {
  margin: 0px;
  background-color: #C9FAFC;
  font-family: sans-serif;
  color: #8A2BE2;
}

#header {
  background-color: #40E0D0;
  color: #8A2BE2;

  .title {
    font-size: 48px;
    font-weight: bold;
    display: inline;
    padding: 20px;
  }

  .links {
    float: right;
    display: inline;
    padding: 20px;
  }
}
