<div class="send-button">
  <button {{action "sendNextMessage"}} disabled={{disableSendButton}}>
    Send
  </button>
</div>

{{#each seenMessages as |message|}}
  {{chat-message message=message cutie=cutie}}
{{/each}}
