<div class="send-button">
  <button {{action "sendNextMessage"}} disabled={{disableSendButton}}>
    Send
  </button>
</div>

<div class="messages">
  {{#each seenMessages as |message|}}
    {{chat-message message=message cutie=cutie}}
  {{/each}}
  {{#if typing}}
    {{chat-message message=typingMessage}}
  {{/if}}
</div>
